@forward "./page/comments.scss";
@forward "./page/review.scss";
@forward "./page/rating_window.scss";
@forward "./page/leave_comment_window.scss";
@forward "./page/review_status.scss";
@forward "./page/map.scss";

@use "../../../globals.scss";

.map-page-main {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.spacer {
    display: block;
    width: 100%;
    height: 1px;
    background-color: globals.$review-border-color;
}

.by-creator {
    margin-top: 10px;
}