@forward "./page/commentWindow.scss";
@forward "./page/reviewStatus.scss";
@forward "./page/ratingWindow.scss";
@forward "./page/reviewButtons.scss";
@forward "./page/comments.scss";
@forward "./page/review.scss";
@forward "./page/map.scss";

@use "../../../globals.scss";

.map-page-main {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.spacer {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--review-border);
}

.by-creator {
    margin-top: 10px;
}