@use "../../../../globals.scss";

#comment-text-field {
    @include globals.border-with-radius;
    resize: none;
    width: 100%;
    height: 100px;
    background-color: var(--comment-area)
}

.leave-comment-window {
    @include globals.border-with-radius;
    width: 100%;
    height: 230px;
    margin-top: 35px;

    .rating-type {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 35%;

        .rating-right {
            display: grid;

            > span {
                margin: 6px 0 6px 0;
            }
        }

        p {
            margin: 15px 0 15px 0;
        }
    }

    header {
        display: flex;
        align-items: center;
        background-color: var(--window-header);
        border-bottom: globals.$review-border;
        height: 45px;

        p {
            font-weight: bold;
            margin: 0 0 0 20px;
        }
    }
    main {
        padding: 20px;

        button {
            margin-top: 9px;
        }
    }
}