.header-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 60px;
	background: var(--header-grad-left);
	background: linear-gradient(180deg, var(--header-grad-left) 0%, var(--header-grad-right) 100%);

	button {
		background-color: transparent;
		border: 0;
		color: var(--header-button-left);
	}

	.left {
		margin-left: 15px;

		button {
			font-size: 1.2rem;
		}
	}

	.right {
		display: flex;
		gap: 7px;
		margin-right: 50px;

		button {
			font-size: 1rem;
			color: var(--header-button-right);

			&:hover {
				color: var(--header-button-hover)
			}
		}
	}
}